<section class="tab rig-tab" data-group="primary" data-tab="rig">

  {{!-- Variant toggle (edit mode only) + status --}}
  <div class="rig-header">
    <div class="rig-status {{#if isPiloting}}piloting{{else}}not-piloting{{/if}}">
      {{#if isPiloting}}
        <i class="fas fa-person-shelter"></i>
        <span>{{localize "laserllama-alt-artificer-junker.StatusPiloting"}}</span>
      {{else}}
        <i class="fas fa-robot"></i>
        <span>{{localize "laserllama-alt-artificer-junker.StatusNotPiloting"}}</span>
      {{/if}}
    </div>

    {{#if isEditable}}
    <label class="rig-titanic-toggle">
      <input type="checkbox" data-action="toggleTitanic" {{#if isTitanic}}checked{{/if}} />
      <span>{{localize "laserllama-alt-artificer-junker.UseTitanic"}}</span>
    </label>
    {{/if}}
  </div>

  {{!-- Pilot section: shown only while piloting --}}
  {{#if isPiloting}}
  <div class="pilot-section">
    <h3 class="rig-variant-name">{{localize "laserllama-alt-artificer-junker.PilotSectionHeading"}}</h3>
    {{> "modules/laserllama-alt-artificer-junker/templates/stats-section.hbs"
        img=pilotImg  isEditable=pilotEditable  altKey="laserllama-alt-artificer-junker.PilotPortrait"
        ac=pilotAC
        str=pilotStr  dex=pilotDex  con=pilotCon
        hp=pilotHp    hpMax=pilotHpMax  hpPct=pilotHpPct
        hasMovement=false
    }}
  </div>
  {{/if}}

  {{!-- Rig variant label --}}
  <h3 class="rig-variant-name">
    {{#if isTitanic}}
      {{localize "laserllama-alt-artificer-junker.TitanicRig"}}
    {{else}}
      {{localize "laserllama-alt-artificer-junker.StandardRig"}}
    {{/if}}
  </h3>

  {{!-- Rig stats --}}
  <div class="rig-stats-section">
    {{> "modules/laserllama-alt-artificer-junker/templates/stats-section.hbs"
        img=rigImg  isEditable=isEditable  altKey="laserllama-alt-artificer-junker.RigPortrait"
        ac=computedAC
        str=rigStats.abilities.str  dex=rigStats.abilities.dex  con=rigStats.abilities.con
        hp=rigHp  hpMax=computedHpMax  hpPct=hpPct
        hasMovement=true  movement=rigStats.movement
    }}
  </div>

  {{!-- Traits --}}
  <div class="rig-traits">

    <div class="rig-trait">
      <span class="label">{{localize "laserllama-alt-artificer-junker.LabelDamageImmunities"}}</span>
      <span class="value">{{#each rigStats.damageImmunities}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</span>
    </div>

    {{#if rigStats.damageResistances.length}}
    <div class="rig-trait">
      <span class="label">{{localize "laserllama-alt-artificer-junker.LabelDamageResistances"}}</span>
      <span class="value">{{#each rigStats.damageResistances}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</span>
    </div>
    {{/if}}

    <div class="rig-trait">
      <span class="label">{{localize "laserllama-alt-artificer-junker.LabelConditionImmunities"}}</span>
      <span class="value">{{#each rigStats.conditionImmunities}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</span>
    </div>

    <div class="rig-trait">
      <span class="label">{{localize "laserllama-alt-artificer-junker.LabelDamageReduction"}}</span>
      <span class="value">{{rigStats.damageReduction.value}}
        <em>({{localize "laserllama-alt-artificer-junker.LabelDamageReductionBypass"}}:
        {{#each rigStats.damageReduction.bypass}}{{this}}{{#unless @last}}, {{/unless}}{{/each}})</em>
      </span>
    </div>

  </div>

  {{!-- Features --}}
  <div class="rig-section">
    <h4>{{localize "laserllama-alt-artificer-junker.LabelFeatures"}}</h4>
    <ol class="unlist rig-entries">
      {{#each rigStats.features}}
      <li class="rig-entry">
        <p><strong>{{this.name}}.</strong> {{this.description}}</p>
      </li>
      {{/each}}
    </ol>
  </div>

  {{!-- Actions --}}
  <div class="rig-section">
    <h4>{{localize "laserllama-alt-artificer-junker.LabelActions"}}</h4>
    <ol class="unlist rig-entries">
      {{#each rigStats.actions}}
      <li class="rig-entry">
        <p><strong>{{this.name}}.</strong> {{this.description}}</p>
      </li>
      {{/each}}
    </ol>
  </div>

</section>
